/* this is css comments*/

body {
    background-color: green;
    
}

h1 {color: rgb(231, 69, 5);
    font-size: 45px;
    text-align: center;}

h2, h3 {color: rgb(223, 124, 12);
    font-size: 30px;
    text-align: center;}

p {color: rgb(238, 255, 0);}

/*.classname {
    property: value;
}*/ 

.imagepose {background-image: url(/websiteproject/SmallJayPose.jpg);
    background-repeat:no-repeat;
}

.aboutme {
    background-color: gold;
}

.textalign {
    text-align: centre;
}

/* New flexbox css - settings for main group*/
.flexbox-container{
	display:flex; /*set display to flexbox */
}


.flexbox-item{
	background-color: goldenrod;
    text-align: center;
	margin: 10px;  /*space around box */
	padding: 10px; /*space inside box around contents */
	text-align: center;
	line-height: 75px; /*height of boxes */
	font-size: 30px; 
	flex-grow: 1; /*stretch items to fill width of screen equally*/
}

.navbar {
    background-color: goldenrod;
    width: 100%;
    text-align: center;
}